body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 17px;
       }

#tab {
    width: 100%;
    text-align: left;
}

#container {
    color: white;
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    width: 250px;
    height: 180px;
    padding: 15px 9px;
    border-radius: 20px;
    margin: 1% auto;
    text-align: center;
   }


input {
    width: 45px;
    font-size: 17px;
    background-color: grey;
    color: white;
    border-style: none;
    border-radius: 20px;
    padding-left: 10px;    
   }
   
#button {
    margin-top: 10px;
    width: 82%;
    height: 30px;
    font-size: 17px;
    border-radius: 20px;
    border-style: none;   
}

#button1 {
    margin-top: 10px;
    width: 12%;
    height: 30px;
    font-size: 17px;
    border-radius: 20px;
    border-style: none; 

}


#summary, #range {
    color: gold;
    font-size: 20px;
}

#logo {
    width: 150px;
    
}


.row.hidden {
    display: none;
}

