body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 25px;
       }

td {
    padding-bottom: 20px;
}

#tab {
    width: 100%;
    /* text-align: left; */
    margin-bottom: 15px;
}




#container {
    color: white;
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    width: 300px;
    height: 340px;
    padding: 15px 9px;
    border-radius: 20px;
    margin: 1% auto;
    text-align: center;
   }



input {
    width: 80px;
    font-size: 40px;
    background-color:#ec1c24;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding-left: 10px;    
   }
   
#button {
    
    width: 82%;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    border-style: none;   
}

#button1 {
    
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    border-style: none; 

}


#summary, #range {
    color: gold;
    font-size: 30px;
}

#logo {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.row.hidden {
    display: none;
}

